<%= simple_form_for @aluno, :html => { :class => "form-horizontal aluno" } do |f| %>

  <% if @aluno.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Ocorreu <%= pluralize(@aluno.errors.count, "erro(s)") %> ao tentar salvar os dados deste aluno:</h3>
      
      </div>
          <div class="panel-body">
            <ul>
               <% @aluno.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
               <% end %>
            </ul>
          </div>
      </div>
  <% end %>
<%
#  
# começar o mudar o codigo para nav tabs
#
%>

<ul class="nav nav-tabs" id="tabs">
    <li class="active">
        <a href="#dados_pessoais">Dados Pessoais</a>
    </li>

    <li class="">
        <a href="#dados_familiares">Dados Familiares</a>
    </li>

    <li class="">
        <a href="#dados_escolares">Dados Escolares</a>
    </li>

    <li class="">
        <a href="#saude">Histórico Saúde</a>
    </li>
    
    <li class="">
        <a href="#beneficios">Benefícios</a>
    </li>

    <li class="">
        <a href="#gestação">Gestação/Nascimento</a>
    </li>

    <li class="">
        <a href="#vida">1º Ano de Vida</a>
    </li>

</ul>  

<%
#
#começar a colocar os dados dentro das nav
#
%>
<div class="tab-content" id="my-tab-content">

    <div id="dados_pessoais" class="tab-pane active">
    
    <br>
    <div class="well well-sm">Dados do Aluno</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :nome, "Nome",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :nome, :class => 'form-control', :placeholder => "Entre como nome do Aluno" %>
                </div>
                <%= error_span(@aluno[:nome]) %>
              </div>
        </div>

        <div class="col-md-4">

               <div class="control-group">
                <%= f.label :endereco, "Endereço",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :endereco, :class => 'form-control', :placeholder => "Entre com o endereço do Aluno" %>
                </div>
                <%= error_span(@aluno[:endereco]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :numero, "Número",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero, :class => 'form-control', :placeholder => "Número da residência "%>
                </div>
                <%= error_span(@aluno[:numero]) %>
              </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :bairro,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro, :class => 'form-control', :placeholder => "Bairro da residência" %>
                </div>
                <%= error_span(@aluno[:bairro]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :cidade,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade, :class => 'form-control', :placeholder => "Cidade da residência" %>
                </div>
                <%= error_span(@aluno[:cidade]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <div class="controls">
                <%= f.input :estado, priority: [ "São Paulo" ], collection: [ "São Paulo", "Minas Gerais", "Paraná", "Santa Catarina"] %>
                </div>
                <%= error_span(@aluno[:estado]) %>
              </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :email,"E-mail", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :email, :class => 'form-control', :placeholder => "E-Mail do Aluno"  %>
                </div>
                <%= error_span(@aluno[:email]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :telefone,"Telefone", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone, :class => 'form-control', :placeholder => "Telefone do Aluno"%>
                </div>
                <%= error_span(@aluno[:telefone]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :celular,"Celular",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :celular, :class => 'form-control', :placeholder => "Celular do Aluno"  %>
                </div>
                <%= error_span(@aluno[:celular]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :ativo, "Está Ativo",:class => 'control-label' , :placeholder => "Aluno esta ativo ?" %>
                <div class="controls">
                  <%= f.check_box:ativo %>
                </div>
                <%= error_span(@aluno[:ativo]) %>
              </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-3">
  
              <div class="control-group">
                <%= f.label :rg, "R.G.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg, :class => 'form-control', :placeholder => "R.G. do Aluno"  %>
                </div>
                <%= error_span(@aluno[:rg]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :cpf, "C.P.F.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf, :class => 'form-control', :placeholder => "C.P.F. do Aluno"  %>
                </div>
                <%= error_span(@aluno[:cpf]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :data_nascimento,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento, :class => 'form-control', :placeholder => "Data Nascimento do Aluno"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :data_cadastro, "Data de Cadastro",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_cadastro, :class => 'form-control', :placeholder => "Data Cadastro do Aluno"  %>
                </div>
                <%= error_span(@aluno[:data_cadastro]) %>
              </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-3">
  
              <div class="control-group">
                <%= f.label :naturalidade, "Naturalidade",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :naturalidade, :class => 'form-control', :placeholder => "Naturalidade"  %>
                </div>
                <%= error_span(@aluno[:naturalidade]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :ciclo, "Ciclo/Ano.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :ciclo, :class => 'form-control', :placeholder => "Ciclo/Ano"  %>
                </div>
                <%= error_span(@aluno[:ciclo]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :ra,"R.A.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :ra, :class => 'form-control', :placeholder => "R.A. do aluno"  %>
                </div>
                <%= error_span(@aluno[:ra]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :idpdi, "SIGM.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :idpdi, :class => 'form-control', :placeholder => "SIGM"  %>
                </div>
                <%= error_span(@aluno[:idpdi]) %>
              </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-4">
  
              <div class="control-group">
                <%= f.label :deficiencia, "Área de Deficiência",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :deficiencia, :class => 'form-control', :placeholder => "Área de Deficiência"  %>
                </div>
                <%= error_span(@aluno[:deficiencia]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :data_fechamento_diagnostico, "Data Fechamento do Diagnóstico.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_fechamento_diagnostico, :class => 'form-control', :placeholder => "Data Fechamento do Diagnóstico"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :escola_origem,"Escola Origem", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escola_origem, :class => 'form-control', :placeholder => "Escola Origem"  %>
                </div>
                <%= error_span(@aluno[:escola_origem]) %>
              </div>
        </div>

      </div>

    </div>
   
    <div id="dados_familiares" class="tab-pane ">
   
    <br>
    <div class="well well-sm">Dados do Pai</div>
   
  
      <div class="row">
       <div class="col-xs-6">

                <div class="control-group">
                  <%= f.label :nome_pai,"Nome", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :nome_pai, :class => 'form-control', :placeholder => "Entre como nome do Pai" %>
                  </div>
                  <%= error_span(@aluno[:nome_pai]) %>
                </div>
          </div>

       <div class="col-md-4">

               <div class="control-group">
                <%= f.label :endereco_pai,"Endereço", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :endereco_pai, :class => 'form-control', :placeholder => "Entre com o endereço do Pai" %>
                </div>
                <%= error_span(@aluno[:endereco_pai]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :numero_pai,"Número", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero_pai, :class => 'form-control', :placeholder => "Número da residência do Pai"%>
                </div>
                <%= error_span(@aluno[:numero_pai]) %>
              </div>
        </div>
        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :bairro_pai,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro_pai, :class => 'form-control', :placeholder => "Bairro da residência do Pai"  %>
                </div>
                <%= error_span(@aluno[:bairro_pai]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :cidade_pai,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade_pai, :class => 'form-control', :placeholder => "Cidade da residência do Pai" %>
                </div>
                <%= error_span(@aluno[:cidade_pai]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :estado_pai,"Estado", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :estado_pai, :class => 'form-control', :placeholder => "Estado da residência do Pai"  %>
                </div>
                <%= error_span(@aluno[:estado_pai]) %>
              </div>
        </div>
        <div class="col-xs-3">
  
              <div class="control-group">
                <%= f.label :data_nascimento_pai,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento_pai, :class => 'form-control', :placeholder => "Data nascimento Pai"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :escolaridade_pai,"Escolaridade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolaridade_pai, :class => 'form-control', :placeholder => "escolaridade do Pai"  %>
                </div>
                <%= error_span(@aluno[:escolaridade_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :profissao_pai,"Profissão", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :profissao_pai, :class => 'form-control', :placeholder => "profissao do Pai"  %>
                </div>
                <%= error_span(@aluno[:profissao_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :telefone_pai,"Telefone", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone_pai, :class => 'form-control', :placeholder => "Telefone do Pai"  %>
                </div>
                <%= error_span(@aluno[:telefone_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :rg_pai,"R.G.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg_pai, :class => 'form-control', :placeholder => "R.G. do Pai"  %>
                </div>
                <%= error_span(@aluno[:rg_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :cpf_pai,"C.P.F.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf_pai, :class => 'form-control', :placeholder => "C.P.F do Pai"  %>
                </div>
                <%= error_span(@aluno[:cpf_pai]) %>
              </div>
        </div>

        <div class="col-md-6">

              <div class="control-group">
                <%= f.label :obs_pai,"Observações", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :obs_pai, :class => 'form-control', :placeholder => "Observações do Pai"  %>
                </div>
                <%= error_span(@aluno[:obs_pai]) %>
              </div>
        </div>
      </div>
      <br>
      
      <div class="well well-sm">Dados da Mãe</div>
          
        <div class="row">
           
           <div class="col-xs-6">
                <div class="control-group">
                  <%= f.label :nome_mae,"Nome", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :nome_mae, :class => 'form-control', :placeholder => "Entre como nome do Mãe" %>
                  </div>
                  <%= error_span(@aluno[:nome_mae]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :endereco_mae,"Endereço", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :endereco_mae, :class => 'form-control', :placeholder => "Entre com o endereço do Mãe" %>
                  </div>
                  <%= error_span(@aluno[:endereco_mae]) %>
              </div>
          </div>

          <div class="col-md-2">
              <div class="control-group">
                <%= f.label :numero_mae,"Número", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero_mae, :class => 'form-control', :placeholder => "Número da residência do Mãe"%>
                </div>
                <%= error_span(@aluno[:numero_mae]) %>
             </div>
          </div>
      
          <div class="col-xs-6">
             <div class="control-group">
                <%= f.label :bairro_mae,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro_mae, :class => 'form-control', :placeholder => "Bairro da residência do Mãe"  %>
                </div>
                <%= error_span(@aluno[:bairro_mae]) %>
             </div>
          </div>

          <div class="col-md-4">
             <div class="control-group">
                <%= f.label :cidade_mae,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade_mae, :class => 'form-control', :placeholder => "Cidade da residência do Mãe" %>
                </div>
                <%= error_span(@aluno[:cidade_mae]) %>
              </div>
          </div>

          <div class="col-md-2">
              <div class="control-group">
                <%= f.label :estado_mae,"Estado", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :estado_mae, :class => 'form-control', :placeholder => "Estado da residência do Mãe"  %>
                </div>
                <%= error_span(@aluno[:estado_mae]) %>
              </div>
          </div>
  
          <div class="col-xs-3">
             <div class="control-group">
                <%= f.label :data_nascimento_mae,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento_mae, :class => 'form-control', :placeholder => "Data nascimento Mãe"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento_mae]) %>
             </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :escolaridade_mae,"Escolaridade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolaridade_mae, :class => 'form-control', :placeholder => "escolaridade do Mãe"  %>
                </div>
                <%= error_span(@aluno[:escolaridade_mae]) %>
              </div>
          </div>
          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :profissao_mae,"Profissão", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :profissao_mae, :class => 'form-control', :placeholder => "profissao do Mãe"  %>
                </div>
                <%= error_span(@aluno[:profissao_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :telefone_mae,"Telefone",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone_mae, :class => 'form-control', :placeholder => "Telefone do Mãe"  %>
                </div>
                <%= error_span(@aluno[:telefone_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :rg_mae,"R.G.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg_mae, :class => 'form-control', :placeholder => "R.G. do Mãe"  %>
                </div>
                <%= error_span(@aluno[:rg_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :cpf_mae,"C.P.F", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf_mae, :class => 'form-control', :placeholder => "C.P.F do Mãe"  %>
                </div>
                <%= error_span(@aluno[:cpf_mae]) %>
              </div>
          </div>

          <div class="col-md-6">
             <div class="control-group">
                <%= f.label :obs_mae,"Observações", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :obs_mae, :class => 'form-control', :placeholder => "Observações do Mãe"  %>
                </div>
                <%= error_span(@aluno[:obs_mae]) %>
              </div>
          </div>

    </div>
    <br>
      <div class="well well-sm">Histórico Familiar</div>
          
        <div class="row">
           
           <div class="col-xs-4">
                <div class="control-group">
                  <%= f.label :irmaos,"Tem irmãos? Quantos e Idade?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :irmaos, :class => 'form-control', :placeholder => "irmãos" %>
                  </div>
                  <%= error_span(@aluno[:irmaos]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :quantas,"Quantas pessoas moram na Casa:", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :quantas, :class => 'form-control', :placeholder => "Quantas pessoas" %>
                  </div>
                  <%= error_span(@aluno[:quantas]) %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="control-group">
                <%= f.label :idade,"Idade em que o aluno entrou na escola", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :idade, :class => 'form-control', :placeholder => "Idade em que o aluno"%>
                </div>
                <%= error_span(@aluno[:idade]) %>
             </div>
          </div>
      
           <div class="col-xs-4">
                <div class="control-group">
                  <%= f.label :antecedentes,"Histórico escolar e antecedentes relevantes:", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :antecedentes, :class => 'form-control', :placeholder => "Entre como nome do Mãe" %>
                  </div>
                  <%= error_span(@aluno[:antecedentes]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :caracteristicas,"Características do aluno.", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :caracteristicas, :class => 'form-control', :placeholder => "Caracteristica" %>
                  </div>
                  <%= error_span(@aluno[:caracteristicas]) %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="control-group">
                <%= f.label :opiniao,"Opinião da Família sobre a vida escolar.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :opiniao, :class => 'form-control', :placeholder => "Opinião"%>
                </div>
                <%= error_span(@aluno[:opiniao]) %>
             </div>
          </div>
           <div class="col-xs-4">
                <div class="control-group">
                  <%= f.label :outra_natureza,"Antecedentes de outra natureza.", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :outra_natureza, :class => 'form-control', :placeholder => "Outra natureza" %>
                  </div>
                  <%= error_span(@aluno[:outra_natureza]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :tipo_local,"Tipo/Local/Periodicidade", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :tipo_local, :class => 'form-control', :placeholder => "tipo local" %>
                  </div>
                  <%= error_span(@aluno[:tipo_local]) %>
              </div>
          </div>

    </div>

    </div>

    <div id="dados_escolares" class="tab-pane">
    
    <br>
    <div class="well well-sm">Desenvolvimento da Escrita</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_trocas, "Trocas",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_trocas, :class => 'form-control', :placeholder => "Trocas" %>
                </div>
                <%= error_span(@aluno[:escolar_trocas]) %>
              </div>
        </div>


        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_fala_atual, "Fala Atual",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_fala_atual, :class => 'form-control', :placeholder => "Fala Atual" %>
                </div>
                <%= error_span(@aluno[:escolar_fala_atual]) %>
              </div>
        </div>


        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_ordens, "Entende Ordens",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_ordens, :class => 'form-control', :placeholder => "Entende Ordens" %>
                </div>
                <%= error_span(@aluno[:escolar_ordens]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_idade, "Entrou na escola com ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_idade, :class => 'form-control', :placeholder => "Entrou na escola com" %>
                </div>
                <%= error_span(@aluno[:escolar_idade]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_numero_escolas, "Número de escolas que frequentou ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_numero_escolas, :class => 'form-control', :placeholder => "Número de escolas que frequentou" %>
                </div>
                <%= error_span(@aluno[:escolar_numero_escolas]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_aproveitamento, "Aproveitamento ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_aproveitamento, :class => 'form-control', :placeholder => "Aproveitamento" %>
                </div>
                <%= error_span(@aluno[:escolar_aproveitamento]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_comportamento, "Comportamento ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_comportamento, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_comportamento]) %>
              </div>
        </div>

      
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_frequenta_escola, "Atualmente frequenta escola? ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_frequenta_escola, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_frequenta_escola]) %>
              </div>
        </div>

      
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vida_escolar, "Descrição vida escolar :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vida_escolar, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_vida_escolar]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vida_social, "Descrição vida social :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vida_social, :class => 'form-control', :placeholder => "Vida Social" %>
                </div>
                <%= error_span(@aluno[:escolar_vida_social]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vive, "Com quem o aprendiz vive ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vive, :class => 'form-control', :placeholder => "Vive" %>
                </div>
                <%= error_span(@aluno[:escolar_vive]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_ambiente_familiar, "Descrição do Ambiente Familiar :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_ambiente_familiar, :class => 'form-control', :placeholder => "Ambiente Familiar" %>
                </div>
                <%= error_span(@aluno[:escolar_ambiente_familiar]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_distrair, "Como o aprendiz prefere se distrair ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_distrair, :class => 'form-control', :placeholder => "distrair" %>
                </div>
                <%= error_span(@aluno[:escolar_]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_amigo, "Tem amigos ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_amigos, :class => 'form-control', :placeholder => "Amigos" %>
                </div>
                <%= error_span(@aluno[:escolar_amigos]) %>
              </div>
        </div>

      </div>
      
</div>


<%
#começa aqui
%>

    <div id="saude" class="tab-pane">
    
    <br>
    <div class="well well-sm">Medicação</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :saude_medicacao, "Medicação",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_medicacao, :class => 'form-control', :placeholder => "Toma medicação ?" %>
                </div>
                <%= error_span(@aluno[:saude_medicacao]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :saude_alergia, "Alergia",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_alergia, :class => 'form-control', :placeholder => "Tem alergia ? qual?" %>
                </div>
                <%= error_span(@aluno[:saude_alergia]) %>
              </div>
        </div>

        <div class="col-xs-2">
              <div class="control-group">
                <%= f.label :saude_acompanhamento_medico, "Acompanhamento Médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_acompanhamento_medico%>
                </div>
                <%= error_span(@aluno[:saude_acompanhamento_medico]) %>
              </div>
        </div>

        <div class="col-xs-10">
              <div class="control-group">
                <%= f.label :saude_nome_medico, "Nome médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_nome_medico, :class => 'form-control', :placeholder => "Nome médico ? " %>
                </div>
                <%= error_span(@aluno[:saude_nome_medico]) %>
              </div>
        </div>

        <div class="col-xs-2">
              <div class="control-group">
                <%= f.label :saude_tem_convenio, "Tem convênio médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_tem_convenio%>
                </div>
                <%= error_span(@aluno[:saude_tem_convenio]) %>
              </div>
        </div>
        <div class="col-xs-10">
              <div class="control-group">
                <%= f.label :saude_convenio, "Qual?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_convenio, :class => 'form-control', :placeholder => "Qual ?" %>
                </div>
                <%= error_span(@aluno[:saude_convenio]) %>
              </div>
        </div>


    </div>

    <br>
    <div class="well well-sm">Terapias fora do Instituto</div>
   
  
      <div class="row">


        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_fono, "Faz Fonoaudiologia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_fono %>
                </div>
                <%= error_span(@aluno[:saude_fono]) %>
              </div>
        </div>

        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_psico, "Faz Psicologia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_psico %>
                </div>
                <%= error_span(@aluno[:saude_psico]) %>
              </div>
        </div>

        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_fisio, "Faz Fisioterapia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_fisio%>
                </div>
                <%= error_span(@aluno[:saude_fisio]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_outros, "Faz outros tratamentos ?  Qual ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_outros, :class => 'form-control', :placeholder => "Faz outros tratamentos ?" %>
                </div>
                <%= error_span(@aluno[:saude_outros]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_tempo, "A quanto tempo ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_tempo, :class => 'form-control', :placeholder => "A quanto tempo ?" %>
                </div>
                <%= error_span(@aluno[:saude_tempo]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_observacoes, "Observações",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_observacoes, :class => 'form-control', :placeholder => "Observações" %>
                </div>
                <%= error_span(@aluno[:saude_observacoes]) %>
              </div>
        </div>

    </div>
    <br>
    <div class="well well-sm">Histórico</div>

    <div class="row">

            <div class="col-md-4">
              <div class="control-group">
                <%= f.label :saude,"Tem problemas de Saúde", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude, :class => 'form-control', :placeholder => "Saúde"%>
                </div>
                <%= error_span(@aluno[:saude]) %>
             </div>
          </div>
           <div class="col-xs-4">
                <div class="control-group">
                  <%= f.label :uso_medicamentos,"Faz uso de medicamentos controlados? Quais?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :uso_medicamentos, :class => 'form-control', :placeholder => "Uso medicamentos" %>
                  </div>
                  <%= error_span(@aluno[:uso_medicamentos]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :relatorio,"Existe relatório com recomendação de saúde? Anexar", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :relatorio, :class => 'form-control', :placeholder => "Relatório" %>
                  </div>
                  <%= error_span(@aluno[:relatorio]) %>
              </div>
          </div>

          <div class="col-md-4">
              <div class="control-group">
                <%= f.label :carteira_sus,"Número do Prontuário Centro de Saúde", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :carteira_sus, :class => 'form-control', :placeholder => "Carteira Sus"%>
                </div>
                <%= error_span(@aluno[:carteira_sus]) %>
             </div>
          </div>

    </div>

    <br>
    </div>
<%
#Termina aqui
%>

<%
#começa aqui
%>
    
    <div id="beneficios" class="tab-pane">
    
      <br>
      <div class="well well-sm">Benefícios</div>

        <div class="row">

            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_bpc, "Benefício de Prestação Continuada (BPC)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_bpc %>
                    </div>
                    <%= error_span(@aluno[:beneficio_bpc]) %>
                  </div>
            </div>

            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_bf, "Benefício de Bolsa Família (BF)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_bf %>
                    </div>
                    <%= error_span(@aluno[:beneficio_bf]) %>
                  </div>
            </div>


            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_viva_leite, "Benefício Viva Leite (BVL)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_viva_leite %>
                    </div>
                    <%= error_span(@aluno[:beneficio_viva_leite]) %>
                  </div>
            </div>

            <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :beneficio_outro, "Outros Benefícios- Especificar!",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :beneficio_outro, :class => 'form-control', :placeholder => "Especificar outros benefícios" %>
                    </div>
                    <%= error_span(@aluno[:beneficio_outro]) %>
                  </div>
            </div>

        </div> 
    </div>

<%
#Termina aqui
%>


<%
#começa aqui
%>

    <div id="gestação" class="tab-pane">
    
      <br>
      <div class="well well-sm">Gestação</div>

        <div class="row">

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_gravidez, "Como foi a gravidez?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :gestacao_gravidez, :class => 'form-control', :placeholder => "Gravidez" %>
                   </div>
                    <%= error_span(@aluno[:gestacao_gravidez]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_desejada, "A criança foi desejada?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :gestacao_gravidez, :class => 'form-control', :placeholder => "Gravidez" %>
                    </div>
                    <%= error_span(@aluno[:gestacao_desejada]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_mexer, "Sentiu a criança mexer?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :gestacao_mexer %>
                    </div>
                    <%= error_span(@aluno[:gestacao_mexer]) %>
                  </div>
            </div>

           
            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_prenatal, "Fez pré-natal ",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :gestacao_mexer %>
                    </div>
                    <%= error_span(@aluno[:gestacao_mexer]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_doencas, "Doenças na Gravidez?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :gestacao_doencas, :class => 'form-control', :placeholder => "Doenças na Gravidez" %>
                    </div>
                    <%= error_span(@aluno[:gestacao_doencas]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :gestacao_medicamentos, "Usou algum medicamento durante a gravidez? Quais?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :gestacao_medicamentos, :class => 'form-control', :placeholder => "Medicamentos na Gravidez" %>
                    </div>
                    <%= error_span(@aluno[:gestacao_medicamentos]) %>
                  </div>
            </div>

            <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :gestacao_sobre, "Observações sobre gravidez? ",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :gestacao_sobre, :class => 'form-control', :placeholder => "Observações" %>
                    </div>
                    <%= error_span(@aluno[:gestacao_sobre]) %>
                  </div>
            </div>
        </div>

     <br>
      
      <div class="well well-sm">Condições de Nascimento</div>
          
        <div class="row">


            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_local, "Local de nascimento?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_local, :class => 'form-control', :placeholder => "hospital/casa" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_local]) %>
                  </div>
            </div>

        </div>  

    <br>

    <div class="well well-sm">Parto</div>

        <div class="row">

            <div class="col-xs-12">
                  <div class="control-group">
                    <%= label_tag "Tipo de Parto:" %>&nbsp;&nbsp;&nbsp;
                    <%= f.radio_button :nascimento_parto, '1' %><%= label_tag :purpose_feedback, 'Normal' ,:checked => true %> &nbsp;&nbsp;
                    <%= f.radio_button :nascimento_parto, '2' %><%= label_tag :purpose_prayer, '     Cesária' %>&nbsp;&nbsp;&nbsp;
                    <%= f.radio_button :nascimento_parto, '3' %><%= label_tag :purpose_praise, '     Hospitalar' %>&nbsp;&nbsp;&nbsp;
                    <%= f.radio_button :nascimento_parto, '4' %><%= label_tag :purpose_bug, '    Casa' %>&nbsp;&nbsp;&nbsp;
                    <%= f.radio_button :nascimento_parto, '5' %><%= label_tag :purpose_other, '     Outros' %>
                    <%= error_span(@aluno[:nascimento_parto]) %>
                  </div>

            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_peso, "Peso ao nascimento?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_peso, :class => 'form-control', :placeholder => "Peso" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_peso]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_demorado, "Parto demorado ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_demorado, :class => 'form-control', :placeholder => "Parto" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_demorado]) %>
                  </div>
            </div>
        </div>
  

      <br>

    <div class="well well-sm">Ao Nascer</div>

        <div class="row">
        
            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_cordao, "Circular de cordão?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_cordao, :class => 'form-control', :placeholder => "cordão" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_cordao]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_oxigenio, "Oxigênio ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_oxigenio, :class => 'form-control', :placeholder => "Oxigênio" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_oxigenio]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_doencas, "Doenças pós-parto ? Quais ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_doencas, :class => 'form-control', :placeholder => "doencas" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_doencas]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_posicao, "Posição de nascimento ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_posicao, :class => 'form-control', :placeholder => "Posição" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_posicao]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_reacoes, "Primeiras reações ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_reacoes, :class => 'form-control', :placeholder => "reações" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_reacoes]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_chorou, "Chorou lógo ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_chorou, :class => 'form-control', :placeholder => "Chorou" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_chorou]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_roxo, "Ficou roxo ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_roxo, :class => 'form-control', :placeholder => "roxo" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_roxo]) %>
                  </div>
            </div>

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :nascimento_observacoes, "Observações após o nascimento ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :nascimento_observacoes, :class => 'form-control', :placeholder => "O" %>
                    </div>
                    <%= error_span(@aluno[:nascimento_observacoes]) %>
                  </div>
            </div>

        </div>
  </div>
<%
#Termina aqui
%>


<%
#começa aqui
%>

    <div id="vida" class="tab-pane">
    
      <br>
      <div class="well well-sm">Primeiro ano de vida</div>

        <div class="row">

            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_relato, "Relato",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_relato, :class => 'form-control', :placeholder => "Relato" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_relato]) %>
                  </div>
            </div>


            <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_criado, "Com quem foi criado ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_criado, :class => 'form-control', :placeholder => "Criado" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_criado]) %>
                  </div>
            </div>

            <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_doenca, "Teve alguma doença grave? Qual?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_doenca, :class => 'form-control', :placeholder => "Doença" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_doenca]) %>
                  </div>
            </div>
        </div>
        
      <br>
      <div class="well well-sm">Doenças na infância</div>

        <div class="row">

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_alergia, "Alergia ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_alergia %>
                    </div>
                    <%= error_span(@aluno[:primeiro_alergia]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_rinite, "Rinite ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_rinite %>
                    </div>
                    <%= error_span(@aluno[:primeiro_rinite]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_asma, "Asma ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_asma %>
                    </div>
                    <%= error_span(@aluno[:primeiro_asma]) %>
                  </div>
            </div>
 
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_adenoide, "Adenoide ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_adenoide %>
                    </div>
                    <%= error_span(@aluno[:primeiro_adenoide]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_bronquite, "Bronquite ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_bronquite %>
                    </div>
                    <%= error_span(@aluno[:primeiro_bronquite]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_otite, "Otite ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_otite %>
                    </div>
                    <%= error_span(@aluno[:primeiro_otite]) %>
                  </div>
            </div>
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_garganta, "Garganta ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_garganta %>
                    </div>
                    <%= error_span(@aluno[:primeiro_garganta]) %>
                  </div>
            </div>
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_bronco, "Broncopneumonia ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_bronco %>
                    </div>
                    <%= error_span(@aluno[:primeiro_bronco]) %>
                  </div>
            </div>

           <div class="col-xs-8">
                  <div class="control-group">
                    <%= f.label :primeiros_outros, "Outros?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiros_outros, :class => 'form-control', :placeholder => "Outros" %>
                   </div>
                    <%= error_span(@aluno[:primeiros_outros]) %>
                  </div>
            </div>
 
           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_internado, "Foi internado ? Qual a causa ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_internado, :class => 'form-control', :placeholder => "internado" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_internado]) %>
                  </div>
            </div>

           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_acidentes, "Acidentes ? Quais ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_acidentes, :class => 'form-control', :placeholder => "acidentes" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_acidentes]) %>
                  </div>
            </div>

           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_sono, "Como é o sono?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_sono, :class => 'form-control', :placeholder => "sono" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_sono]) %>
                  </div>
            </div>

           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_soliloquio, "Solilóquio ? (fala sozinho)",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_soliloquio, :class => 'form-control', :placeholder => "fala" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_soliloquio]) %>
                  </div>
            </div>


             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_epilepsia, "Eplepsia ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_epilepsia %>
                    </div>
                    <%= error_span(@aluno[:primeiro_epilepsia]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_convulsao, "Convulsao ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_convulsao %>
                    </div>
                    <%= error_span(@aluno[:primeiro_convulsao]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_escoplesia, "Escolplesia noturna ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_escoplesia %>
                    </div>
                    <%= error_span(@aluno[:primeiro_escoplesia]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_bruxismo, "Bruxismo ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_bruxismo%>
                    </div>
                    <%= error_span(@aluno[:primeiro_bruxismo]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_sonambulismo, "Sonambulismo ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_sonambulismo %>
                    </div>
                    <%= error_span(@aluno[:primeiro_sonambulismo]) %>
                  </div>
            </div>
   
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_pesadelo, "Pesadelo ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_pesadelo %>
                    </div>
                    <%= error_span(@aluno[:primeiro_pesadelo]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_ronco, "Ronco ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_bronco %>
                    </div>
                    <%= error_span(@aluno[:primeiro_ronco]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_baba, "Baba noturna ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_baba%>
                    </div>
                    <%= error_span(@aluno[:primeiro_baba]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_respira, "Respira pela boca ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_respira %>
                    </div>
                    <%= error_span(@aluno[:primeiro_respira]) %>
                  </div>
            </div>
             
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_transpira, "Transpira ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_transpira %>
                    </div>
                    <%= error_span(@aluno[:primeiro_transpira]) %>
                  </div>
            </div>
        
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_eneurese, "Enurese Noturna?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_eneurese %>
                    </div>
                    <%= error_span(@aluno[:primeiro_eneurese]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_eneurese, "Enurese Diurna?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_eneurese %>
                    </div>
                    <%= error_span(@aluno[:primeiro_eneurese]) %>
                  </div>
            </div>
            
            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_unha, "Roe unha?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_unha %>
                    </div>
                    <%= error_span(@aluno[:primeiro_unha]) %>
                  </div>
            </div>

            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_mao, "Mão na boca ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_mao %>
                    </div>
                    <%= error_span(@aluno[:primeiro_mao]) %>
                  </div>
            </div>

            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_boca, "Fica de boca aberta?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_boca%>
                    </div>
                    <%= error_span(@aluno[:primeiro_boca]) %>
                  </div>
            </div>

            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_chupa, "Chupa o dedo?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_chupa %>
                    </div>
                    <%= error_span(@aluno[:primeiro_chupa]) %>
                  </div>
            </div>

            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_chupeta, "Chupeta ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_chupeta %>
                    </div>
                    <%= error_span(@aluno[:primeiro_chupeta]) %>
                  </div>
            </div>

            <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_mamadeira, "Mamadeira?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_mamadeira %>
                    </div>
                    <%= error_span(@aluno[:primeiro_mamadeira]) %>
                  </div>
            </div>

           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_audicao, "Audição ? ",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_audicao, :class => 'form-control', :placeholder => "fala" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_audicao]) %>
                  </div>
            </div>
 
           <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_visao, "Visão ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_visao, :class => 'form-control', :placeholder => "fala" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_visao]) %>
                  </div>
            </div>
  
           <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_sexulaidade, "Sexualidade ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_sexualidade, :class => 'form-control', :placeholder => "fala" %>
                   </div>
                    <%= error_span(@aluno[:primeiro_sexualidade]) %>
                  </div>
            </div>
     </div>

      <br>
      <div class="well well-sm">Alimentação</div>

        <div class="row">


             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_mamou, "Mamou logo ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_mamou %>
                    </div>
                    <%= error_span(@aluno[:primeiro_mamou]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_engolia, "Engolia ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_engolia %>
                    </div>
                    <%= error_span(@aluno[:primeiro_engolia]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_vomitava, "Vomitava ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_vomitava%>
                    </div>
                    <%= error_span(@aluno[:primeiro_vomitava]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_engasgava, " Engasgava ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_engasgava %>
                    </div>
                    <%= error_span(@aluno[:primeiro_engasgava]) %>
                  </div>
            </div>
 
             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_succao, "Sucção forte?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_succao%>
                    </div>
                    <%= error_span(@aluno[:primeiro_succao]) %>
                  </div>
            </div>

             <div class="col-xs-2">
                  <div class="control-group">
                    <%= f.label :primeiro_refluxo, "Refluxo ?",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :primeiro_refluxo %>
                    </div>
                    <%= error_span(@aluno[:primeiro_refluxo]) %>
                  </div>
            </div>

             <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :primeiro_amamentacao, "Amamentação no peito até que idade ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_amamentacao, :class => 'form-control', :placeholder => "Amamentação" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_amamentacao]) %>
                  </div>
            </div>

             <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :primeiro_mamadeira_01, "Usou mamadeira ? até que idade ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_mamadeira_01, :class => 'form-control', :placeholder => "Mamadeira" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_mamadeira_01]) %>
                  </div>
            </div>

             <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :primeiro_inicio_alimentacao, "Em que idade iniciou a alimentação salgada?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_inicio_alimentacao, :class => 'form-control', :placeholder => "iniciou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_inicio_alimentacao]) %>
                  </div>
            </div>

             <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_concistencia, "Consistência ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_concistencia, :class => 'form-control', :placeholder => "Consistência" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_concistencia]) %>
                  </div>
            </div>
        </div>

      <br>
      <div class="well well-sm">Atitude no desmame</div>

        <div class="row">

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_seio, "Seio ? Como parou?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_seio, :class => 'form-control', :placeholder => "Seio" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_seio]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_mamadeira_02, "Mamadeira ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_mamadeira_02, :class => 'form-control', :placeholder => "Mamadeira" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_mamadeira_02]) %>
                  </div>
            </div>
        
             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_rejeitou, "Rejeitou alimentação alguma vez ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_rejeitou, :class => 'form-control', :placeholder => "Regeitou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_rejeitou]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_tomada ,"Atitude Tomada",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_tomada, :class => 'form-control', :placeholder => "Atituide" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_tomada]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_super ,"Foi super alimentado",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_super, :class => 'form-control', :placeholder => "Atituide" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_super]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_solidos ,"Quando iniciou alimentos sólidos ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_solidos, :class => 'form-control', :placeholder => "Atituide" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_solidos]) %>
                  </div>
            </div>
          
             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_atual ,"Alimentação Atual",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_atual, :class => 'form-control', :placeholder => "Atituide" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_atual]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_engolir ,"Mastiga para engolir",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_engolir, :class => 'form-control', :placeholder => "Engolir" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_engolir]) %>
                  </div>
            </div>


             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_engolir_obs ,"Observação",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_engolir_obs, :class => 'form-control', :placeholder => "Observação" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_engolir_obs]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_fatos ,"Fatos relacionados de 2 a 4 anos", :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_fatos, :class => 'form-control', :placeholder => "Fatos" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_fatos]) %>
                  </div>
            </div>
     </div>

      <br>
      <div class="well well-sm">Desenvolvimento neuropsicomotor</div>

        <div class="row">

             <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_sustentou, "Sustentou a cabeça com ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_sustentou, :class => 'form-control', :placeholder => "Sustentou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_sustentou]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_sentou, "Sentou ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_sentou, :class => 'form-control', :placeholder => "Sentou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_sentou]) %>
                  </div>
            </div>
             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_engatinhou, "Engatinhou ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_engatinhou, :class => 'form-control', :placeholder => "Engatinhou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_engatinhou]) %>
                  </div>
            </div>

             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_pe, "Ficou em pé ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_pe, :class => 'form-control', :placeholder => "Ficou em pé" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_pe]) %>
                  </div>
            </div>
             <div class="col-xs-6">
                  <div class="control-group">
                    <%= f.label :primeiro_andou, "Andou ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_andou, :class => 'form-control', :placeholder => "Andou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_andou]) %>
                  </div>
            </div>

             <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_falou, "Falou com ?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_falou, :class => 'form-control', :placeholder => "Falou" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_falou]) %>
                  </div>
            </div>
      </div>
 

      <br>
      <div class="well well-sm">Desenvolvimento da Fala</div>

        <div class="row">

             <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :primeiro_trocas, "Trocas?",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :primeiro_trocas, :class => 'form-control', :placeholder => "Trocas" %>
                    </div>
                    <%= error_span(@aluno[:primeiro_trocas]) %>
                  </div>
            </div>
        </div>
</div>

  
<%
#Termina aqui
%>




<%
#
# a partir daqui esta original
# 
%>

<br></br>
<div class="panel panel-default">
  <div class="panel-body">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            alunos_path, :class => 'btn btn-default' %>
</div>


<% end %>

<%
#
# colocar o script das tabs nav
#
%>

<script type="text/javascript">
    $(function() {
        $('#tabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })

</script>
