<%= simple_form_for @aluno, :html => { :class => "form-horizontal aluno" } do |f| %>

  <% if @aluno.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Ocorreu <%= pluralize(@aluno.errors.count, "erro(s)") %> ao tentar salvar os dados deste aluno:</h3>
      
      </div>
          <div class="panel-body">
            <ul>
               <% @aluno.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
               <% end %>
            </ul>
          </div>
      </div>
  <% end %>
<%
#  
# começar o mudar o codigo para nav tabs
#
%>

<ul class="nav nav-tabs" id="tabs">
    <li class="active">
        <a href="#dados_pessoais">Dados Pessoais</a>
    </li>

    <li class="">
        <a href="#dados_familiares">Dados Familiares</a>
    </li>

    <li class="">
        <a href="#dados_escolares">Dados Escolares</a>
    </li>

    <li class="">
        <a href="#saude">Histórico Saúde</a>
    </li>
    
    <li class="">
        <a href="#beneficios">Benefícios</a>
    </li>

    <li class="">
        <a href="#gestação">Gestação/Nascimento</a>
    </li>

    <li class="">
        <a href="#vida">1º Ano de Vida</a>
    </li>

</ul>  

<%
#
#começar a colocar os dados dentro das nav
#
%>
<div class="tab-content" id="my-tab-content">

    <div id="dados_pessoais" class="tab-pane active">
    
    <br>
    <div class="well well-sm">Dados do Aluno</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :nome, "Nome",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :nome, :class => 'form-control', :placeholder => "Entre como nome do Aluno" %>
                </div>
                <%= error_span(@aluno[:nome]) %>
              </div>
        </div>

        <div class="col-md-4">

               <div class="control-group">
                <%= f.label :endereco, "Endereço",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :endereco, :class => 'form-control', :placeholder => "Entre com o endereço do Aluno" %>
                </div>
                <%= error_span(@aluno[:endereco]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :numero, "Número",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero, :class => 'form-control', :placeholder => "Número da residência "%>
                </div>
                <%= error_span(@aluno[:numero]) %>
              </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :bairro,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro, :class => 'form-control', :placeholder => "Bairro da residência" %>
                </div>
                <%= error_span(@aluno[:bairro]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :cidade,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade, :class => 'form-control', :placeholder => "Cidade da residência" %>
                </div>
                <%= error_span(@aluno[:cidade]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <div class="controls">
                <%= f.input :estado, priority: [ "São Paulo" ], collection: [ "São Paulo", "Minas Gerais", "Paraná", "Santa Catarina"] %>
                </div>
                <%= error_span(@aluno[:estado]) %>
              </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :email,"E-mail", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :email, :class => 'form-control', :placeholder => "E-Mail do Aluno"  %>
                </div>
                <%= error_span(@aluno[:email]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :telefone,"Telefone", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone, :class => 'form-control', :placeholder => "Telefone do Aluno"%>
                </div>
                <%= error_span(@aluno[:telefone]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :celular,"Celular",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :celular, :class => 'form-control', :placeholder => "Celular do Aluno"  %>
                </div>
                <%= error_span(@aluno[:celular]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :ativo, "Está Ativo",:class => 'control-label' , :placeholder => "Aluno esta ativo ?" %>
                <div class="controls">
                  <%= f.check_box:ativo %>
                </div>
                <%= error_span(@aluno[:ativo]) %>
              </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-3">
  
              <div class="control-group">
                <%= f.label :rg, "R.G.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg, :class => 'form-control', :placeholder => "R.G. do Aluno"  %>
                </div>
                <%= error_span(@aluno[:rg]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :cpf, "C.P.F.",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf, :class => 'form-control', :placeholder => "C.P.F. do Aluno"  %>
                </div>
                <%= error_span(@aluno[:cpf]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :data_nascimento,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento, :class => 'form-control', :placeholder => "Data Nascimento do Aluno"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :data_cadastro, "Data de Cadastro",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_cadastro, :class => 'form-control', :placeholder => "Data Cadastro do Aluno"  %>
                </div>
                <%= error_span(@aluno[:data_cadastro]) %>
              </div>
        </div>
      </div>


    </div>
   
    <div id="dados_familiares" class="tab-pane ">
   
    <br>
    <div class="well well-sm">Dados do Pai</div>
   
  
      <div class="row">
       <div class="col-xs-6">

                <div class="control-group">
                  <%= f.label :nome_pai,"Nome", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :nome_pai, :class => 'form-control', :placeholder => "Entre como nome do Pai" %>
                  </div>
                  <%= error_span(@aluno[:nome_pai]) %>
                </div>
          </div>

       <div class="col-md-4">

               <div class="control-group">
                <%= f.label :endereco_pai,"Endereço", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :endereco_pai, :class => 'form-control', :placeholder => "Entre com o endereço do Pai" %>
                </div>
                <%= error_span(@aluno[:endereco_pai]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :numero_pai,"Número", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero_pai, :class => 'form-control', :placeholder => "Número da residência do Pai"%>
                </div>
                <%= error_span(@aluno[:numero_pai]) %>
              </div>
        </div>
        <div class="col-xs-6">
  
              <div class="control-group">
                <%= f.label :bairro_pai,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro_pai, :class => 'form-control', :placeholder => "Bairro da residência do Pai"  %>
                </div>
                <%= error_span(@aluno[:bairro_pai]) %>
              </div>
        </div>

        <div class="col-md-4">

              <div class="control-group">
                <%= f.label :cidade_pai,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade_pai, :class => 'form-control', :placeholder => "Cidade da residência do Pai" %>
                </div>
                <%= error_span(@aluno[:cidade_pai]) %>
              </div>
        </div>

        <div class="col-md-2">

              <div class="control-group">
                <%= f.label :estado_pai,"Estado", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :estado_pai, :class => 'form-control', :placeholder => "Estado da residência do Pai"  %>
                </div>
                <%= error_span(@aluno[:estado_pai]) %>
              </div>
        </div>
        <div class="col-xs-3">
  
              <div class="control-group">
                <%= f.label :data_nascimento_pai,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento_pai, :class => 'form-control', :placeholder => "Data nascimento Pai"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :escolaridade_pai,"Escolaridade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolaridade_pai, :class => 'form-control', :placeholder => "escolaridade do Pai"  %>
                </div>
                <%= error_span(@aluno[:escolaridade_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :profissao_pai,"Profissão", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :profissao_pai, :class => 'form-control', :placeholder => "profissao do Pai"  %>
                </div>
                <%= error_span(@aluno[:profissao_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :telefone_pai,"Telefone", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone_pai, :class => 'form-control', :placeholder => "Telefone do Pai"  %>
                </div>
                <%= error_span(@aluno[:telefone_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :rg_pai,"R.G.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg_pai, :class => 'form-control', :placeholder => "R.G. do Pai"  %>
                </div>
                <%= error_span(@aluno[:rg_pai]) %>
              </div>
        </div>

        <div class="col-md-3">

              <div class="control-group">
                <%= f.label :cpf_pai,"C.P.F.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf_pai, :class => 'form-control', :placeholder => "C.P.F do Pai"  %>
                </div>
                <%= error_span(@aluno[:cpf_pai]) %>
              </div>
        </div>

        <div class="col-md-6">

              <div class="control-group">
                <%= f.label :obs_pai,"Observações", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :obs_pai, :class => 'form-control', :placeholder => "Observações do Pai"  %>
                </div>
                <%= error_span(@aluno[:obs_pai]) %>
              </div>
        </div>
      </div>
      <br>
      
      <div class="well well-sm">Dados da Mãe
      </div>
          
        <div class="row">
           
           <div class="col-xs-6">
                <div class="control-group">
                  <%= f.label :nome_mae,"Nome", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :nome_mae, :class => 'form-control', :placeholder => "Entre como nome do Mãe" %>
                  </div>
                  <%= error_span(@aluno[:nome_mae]) %>
                </div>
           </div>

           <div class="col-md-4">
              <div class="control-group">
                  <%= f.label :endereco_mae,"Endereço", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :endereco_mae, :class => 'form-control', :placeholder => "Entre com o endereço do Mãe" %>
                  </div>
                  <%= error_span(@aluno[:endereco_mae]) %>
              </div>
          </div>

          <div class="col-md-2">
              <div class="control-group">
                <%= f.label :numero_mae,"Número", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :numero_mae, :class => 'form-control', :placeholder => "Número da residência do Mãe"%>
                </div>
                <%= error_span(@aluno[:numero_mae]) %>
             </div>
          </div>
      
          <div class="col-xs-6">
             <div class="control-group">
                <%= f.label :bairro_mae,"Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro_mae, :class => 'form-control', :placeholder => "Bairro da residência do Mãe"  %>
                </div>
                <%= error_span(@aluno[:bairro_mae]) %>
             </div>
          </div>

          <div class="col-md-4">
             <div class="control-group">
                <%= f.label :cidade_mae,"Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade_mae, :class => 'form-control', :placeholder => "Cidade da residência do Mãe" %>
                </div>
                <%= error_span(@aluno[:cidade_mae]) %>
              </div>
          </div>

          <div class="col-md-2">
              <div class="control-group">
                <%= f.label :estado_mae,"Estado", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :estado_mae, :class => 'form-control', :placeholder => "Estado da residência do Mãe"  %>
                </div>
                <%= error_span(@aluno[:estado_mae]) %>
              </div>
          </div>
  
          <div class="col-xs-3">
             <div class="control-group">
                <%= f.label :data_nascimento_mae,"Data de Nascimento", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :data_nascimento_mae, :class => 'form-control', :placeholder => "Data nascimento Mãe"  %>
                </div>
                <%= error_span(@aluno[:data_nascimento_mae]) %>
             </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :escolaridade_mae,"Escolaridade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolaridade_mae, :class => 'form-control', :placeholder => "escolaridade do Mãe"  %>
                </div>
                <%= error_span(@aluno[:escolaridade_mae]) %>
              </div>
          </div>
          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :profissao_mae,"Profissão", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :profissao_mae, :class => 'form-control', :placeholder => "profissao do Mãe"  %>
                </div>
                <%= error_span(@aluno[:profissao_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :telefone_mae,"Telefone",:class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone_mae, :class => 'form-control', :placeholder => "Telefone do Mãe"  %>
                </div>
                <%= error_span(@aluno[:telefone_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :rg_mae,"R.G.", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :rg_mae, :class => 'form-control', :placeholder => "R.G. do Mãe"  %>
                </div>
                <%= error_span(@aluno[:rg_mae]) %>
              </div>
          </div>

          <div class="col-md-3">
             <div class="control-group">
                <%= f.label :cpf_mae,"C.P.F", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cpf_mae, :class => 'form-control', :placeholder => "C.P.F do Mãe"  %>
                </div>
                <%= error_span(@aluno[:cpf_mae]) %>
              </div>
          </div>

          <div class="col-md-6">
             <div class="control-group">
                <%= f.label :obs_mae,"Observações", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :obs_mae, :class => 'form-control', :placeholder => "Observações do Mãe"  %>
                </div>
                <%= error_span(@aluno[:obs_mae]) %>
              </div>
          </div>

    </div>
    </div>

    <div id="dados_escolares" class="tab-pane">
    
    <br>
    <div class="well well-sm">Desenvolvimento da escrita</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_trocas, "Trocas",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_trocas, :class => 'form-control', :placeholder => "Trocas" %>
                </div>
                <%= error_span(@aluno[:escolar_trocas]) %>
              </div>
        </div>


        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_fala_atual, "Fala Atual",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_fala_atual, :class => 'form-control', :placeholder => "Fala Atual" %>
                </div>
                <%= error_span(@aluno[:escolar_fala_atual]) %>
              </div>
        </div>


        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_ordens, "Entende Ordens",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_ordens, :class => 'form-control', :placeholder => "Entende Ordens" %>
                </div>
                <%= error_span(@aluno[:escolar_ordens]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_idade, "Entrou na escola com ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_idade, :class => 'form-control', :placeholder => "Entrou na escola com" %>
                </div>
                <%= error_span(@aluno[:escolar_idade]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_numero_escolas, "Número de escolas que frequentou ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_numero_escolas, :class => 'form-control', :placeholder => "Número de escolas que frequentou" %>
                </div>
                <%= error_span(@aluno[:escolar_numero_escolas]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_aproveitamento, "Aproveitamento ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_aproveitamento, :class => 'form-control', :placeholder => "Aproveitamento" %>
                </div>
                <%= error_span(@aluno[:escolar_aproveitamento]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_comportamento, "Comportamento ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_comportamento, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_comportamento]) %>
              </div>
        </div>

      
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_frequenta_escola, "Atualmente frequenta escola? ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_frequenta_escola, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_frequenta_escola]) %>
              </div>
        </div>

      
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vida_escolar, "Descrição vida escolar :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vida_escolar, :class => 'form-control', :placeholder => "Comportamento" %>
                </div>
                <%= error_span(@aluno[:escolar_vida_escolar]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vida_social, "Descrição vida social :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vida_social, :class => 'form-control', :placeholder => "Vida Social" %>
                </div>
                <%= error_span(@aluno[:escolar_vida_social]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_vive, "Com quem o aprendiz vive ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_vive, :class => 'form-control', :placeholder => "Vive" %>
                </div>
                <%= error_span(@aluno[:escolar_vive]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_ambiente_familiar, "Descrição do Ambiente Familiar :",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_ambiente_familiar, :class => 'form-control', :placeholder => "Ambiente Familiar" %>
                </div>
                <%= error_span(@aluno[:escolar_ambiente_familiar]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_distrair, "Como o aprendiz prefere se distrair ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_distrair, :class => 'form-control', :placeholder => "distrair" %>
                </div>
                <%= error_span(@aluno[:escolar_]) %>
              </div>
        </div>
        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :escolar_amigo, "Tem amigos ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :escolar_amigos, :class => 'form-control', :placeholder => "Amigos" %>
                </div>
                <%= error_span(@aluno[:escolar_amigos]) %>
              </div>
        </div>

      </div>
      
</div>


<%
#começa aqui
%>

    <div id="saude" class="tab-pane">
    
    <br>
    <div class="well well-sm">Medicação</div>

    <div class="row">

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :saude_medicacao, "Medicação",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_medicacao, :class => 'form-control', :placeholder => "Toma medicação ?" %>
                </div>
                <%= error_span(@aluno[:saude_medicacao]) %>
              </div>
        </div>

        <div class="col-xs-6">
              <div class="control-group">
                <%= f.label :saude_alergia, "Alergia",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_alergia, :class => 'form-control', :placeholder => "Tem alergia ? qual?" %>
                </div>
                <%= error_span(@aluno[:saude_alergia]) %>
              </div>
        </div>

        <div class="col-xs-2">
              <div class="control-group">
                <%= f.label :saude_acompanhamento_medico, "Acompanhamento Médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_acompanhamento_medico%>
                </div>
                <%= error_span(@aluno[:saude_acompanhamento_medico]) %>
              </div>
        </div>

        <div class="col-xs-10">
              <div class="control-group">
                <%= f.label :saude_nome_medico, "Nome médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_nome_medico, :class => 'form-control', :placeholder => "Nome médico ? " %>
                </div>
                <%= error_span(@aluno[:saude_nome_medico]) %>
              </div>
        </div>

        <div class="col-xs-2">
              <div class="control-group">
                <%= f.label :saude_tem_convenio, "Tem convênio médico",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_tem_convenio%>
                </div>
                <%= error_span(@aluno[:saude_tem_convenio]) %>
              </div>
        </div>
        <div class="col-xs-10">
              <div class="control-group">
                <%= f.label :saude_convenio, "Qual?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_convenio, :class => 'form-control', :placeholder => "Qual ?" %>
                </div>
                <%= error_span(@aluno[:saude_convenio]) %>
              </div>
        </div>


    </div>

    <br>
    <div class="well well-sm">Terapias fora do Instituto</div>
   
  
      <div class="row">


        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_fono, "Faz Fonoaudiologia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_fono %>
                </div>
                <%= error_span(@aluno[:saude_fono]) %>
              </div>
        </div>

        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_psico, "Faz Psicologia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_psico %>
                </div>
                <%= error_span(@aluno[:saude_psico]) %>
              </div>
        </div>

        <div class="col-xs-4">
              <div class="control-group">
                <%= f.label :saude_fisio, "Faz Fisioterapia ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.check_box :saude_fisio%>
                </div>
                <%= error_span(@aluno[:saude_fisio]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_outros, "Faz outros tratamentos ?  Qual ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_outros, :class => 'form-control', :placeholder => "Faz outros tratamentos ?" %>
                </div>
                <%= error_span(@aluno[:saude_outros]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_tempo, "A quanto tempo ?",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_tempo, :class => 'form-control', :placeholder => "A quanto tempo ?" %>
                </div>
                <%= error_span(@aluno[:saude_tempo]) %>
              </div>
        </div>

        <div class="col-xs-12">
              <div class="control-group">
                <%= f.label :saude_observacoes, "Observações",  :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :saude_observacoes, :class => 'form-control', :placeholder => "Observações" %>
                </div>
                <%= error_span(@aluno[:saude_observacoes]) %>
              </div>
        </div>

    </div>
    </div>
<%
#Termina aqui
%>

<%
#começa aqui
%>

    <div id="beneficios" class="tab-pane">
    
      <br>
      <div class="well well-sm">Benefícios</div>

        <div class="row">

            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_bpc, "Benefício de Prestação Continuada (BPC)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_bpc %>
                    </div>
                    <%= error_span(@aluno[:beneficio_bpc]) %>
                  </div>
            </div>

            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_bf, "Benefício de Bolsa Família (BF)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_bf %>
                    </div>
                    <%= error_span(@aluno[:beneficio_bf]) %>
                  </div>
            </div>


            <div class="col-xs-4">
                  <div class="control-group">
                    <%= f.label :beneficio_viva_leite, "Benefício Viva Leite (BVL)",  :class => 'control-label' %>
                    <div class="controls">
                      <%= f.check_box :beneficio_viva_leite %>
                    </div>
                    <%= error_span(@aluno[:beneficio_viva_leite]) %>
                  </div>
            </div>

            <div class="col-xs-12">
                  <div class="control-group">
                    <%= f.label :beneficio_outro, "Benefício Outros - Especificar!",  :class => 'control-label' %>
                    <div class="controls">
                  <%= f.text_field :beneficio_outro, :class => 'form-control', :placeholder => "Especificar outros benefícios" %>
                    </div>
                    <%= error_span(@aluno[:beneficio_outro]) %>
                  </div>
            </div>

        </div>  
    </div>

<%
#Termina aqui
%>



</div>


<%
#
# a partir daqui esta original
# 
%>

<br></br>
<div class="panel panel-default">
  <div class="panel-body">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            alunos_path, :class => 'btn btn-default' %>
</div>


<% end %>

<%
#
# colocar o script das tabs nav
#
%>

<script type="text/javascript">
    $(function() {
        $('#tabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })

</script>
