<!DOCTYPE html>
<html>
<head>
  <title>Instituto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= image_tag "Fotos/casarao87.jpg" %>
 </head>
<body>
	<div class="news">
		<h1> Instituto Norberto</h1>
			<p class="phome">Desde 1917, o Instituto Norberto dedica uma atenção especial às pessoas com deficiência intelectual. De lá pra cá, inúmeros projetos já ajudaram centenas de crianças, adolescentes e idosos. Atualmente, o Instituto participa do Programa de Ação Cultural do Estado de São Paulo (ProAC), da Secretária de Estado da Cultura, além de receber incentivo da prefeitura. Mas para continuar proporcionando aos educandos e suas famílias uma formação de qualidade e excelência educacional, o Instituto precisa de contribuições voluntárias. Nos ajude a transformar vidas!</p>
	</div>			

<%= yield %>

</body>
</html>
